.navbar{
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 15px 7%;
}
.logo{
    width: 160px;
    cursor: pointer;
}

ul{

    flex: 1;
    list-style: none;
    text-align: center;

}

ul li{
    display: inline-block;
    margin: 10px 20px;
    font-size: 18px;
    cursor: pointer;

}
.toggle-icon{
    width: 50px;
    cursor: pointer;
    margin-left: 40px;
}
.search-box{
    display: flex;
    align-items: center;
    background-color: #242424;
    padding: 7px 15px;
    border-radius: 50px;
}
.search-box input{
    padding: 6px;
    background: transparent;
    border: 0;
    outline: 0;
    max-width: 200px;
    font-size: 18px;
    color: #fff;
}
.search-box input::placeholder{
    color: white;
}

.search-box img{
    width: 20px;
    cursor: pointer;

}
.navbar{
    transition: .5s;
}
/* .navbar.dark{
    background-color: #222;
    color: white;
} */

.dark .navbar{
    background-color: #000;
    color: #fff;
}

.dark .search-box{
    background-color: #fff;
}
.dark .search-box input{
    color: #222;
}
.dark .search-box input::placeholder{
    color: #222;
}